.onShow
{
    /*background:url(../images/onShow.gif) no-repeat; */
    /*padding-left:25px; */
	/*margin-left:10px; */
	/*font-size: 12px;*/
	/*line-height:22px; */
	/*vertical-align:middle;*/
    /*display:inline-block;*/
    /**display:inline;*/
	/*color:#888fa0;*/
    /*zoom:1;*/
}
.onFocus
{
    /*background:url(../images/onFocus.gif) no-repeat; */
    /*padding-left:25px; */
	/*margin-left:10px; */
	/*font-size: 12px;*/
	/*line-height:22px; */
	/*vertical-align:middle;*/
    /*display:inline-block;*/
    /**display:inline;*/
	/*color:#343440;*/
    /*zoom:1;*/
}
.onError
{
    /*background:url(../images/onError.gif) no-repeat;*/
    /*padding-left:25px;*/
	/*margin-left:10px; */
	/*font-size: 12px;*/
	/*line-height:22px; */
	/*vertical-align:middle;*/
    /*display:inline-block;*/
    /**display:inline;*/
	/*color:#ff6666;*/
    /*zoom:1;*/
}
.onCorrect
{
    /*background:url(../images/onCorrect.png) no-repeat;*/
    /*padding-left:25px;*/
    /*margin-left:10px; */
    /*font-size: 12px;*/
    /*line-height:22px; */
    /*vertical-align:middle;*/
    /*display:inline-block;*/
    /**display:inline;*/
    /*zoom:1;*/
}
.onLoad
{
    background:url(../images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
    display:inline-block;
    *display:inline;
    zoom:1;
} 

.inputOnShow
{
	color: #999999
}